:root {
    --font-thedus: 'Thedus', sans-serif;
    --font-thedus-condensed: 'Thedus Condensed', sans-serif;
    --font-thedus-condensed-light: 'Thedus Condensed Light', sans-serif;
    --font-thedus-wide: 'Thedus Wide', sans-serif;
    --font-thedus-wide-light: 'Thedus Wide Light', sans-serif;
    --font-thedus-stencil: 'Thedus Stencil', sans-serif;
    --font-thedus-stencil-condensed: 'Thedus Stencil Condensed', sans-serif;
    --font-thedus-stencil-wide: 'Thedus Stencil Wide', sans-serif;
}

@font-face {
  font-family: 'Thedus Condensed Light';
  src: url('/Portfolio/assets/thedus/Thedus-CondensedLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Thedus Wide';
  src: url('/Portfolio/assets/thedus/Thedus-Wide.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: expanded;
}

@font-face {
  font-family: 'Thedus Wide Light';
  src: url('/Portfolio/assets/thedus/Thedus-WideLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-stretch: expanded;
}

@font-face {
  font-family: 'Thedus Stencil Condensed';
  src: url('/Portfolio/assets/thedus/Thedus-StencilCondensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Thedus Stencil Wide';
  src: url('/Portfolio/assets/thedus/Thedus-StencilWide.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: expanded;
}
